<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Beers</title>
</head>
<body>
<h1>Our beers ...</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Brewer</th>
        <th>Category</th>
        <th>Stock</th>
    </tr>
    <tr th:each="beer : ${beers}">
        <td th:text="${beer.id}">123</td>
        <td th:text="${beer.Name}">Beer in action</td>
        <td th:text="${beer.Price}">Beer price in action</td>
        <td th:text="${beer.Brewer.getName}">Brewer in action</td>
        <td th:text="${beer.Category.getName}">Category in action</td>
        <td th:text="${beer.Stock}">Not much left over</td>
    </tr>
</table>
</body>
</html>