<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Categories</title>
</head>
<body>
<h1>All categories</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Category</th>
    </tr>
    <tr th:each="cat : ${categories}">
        <td th:text="${cat.id}">123</td>
        <td th:text="${cat.name}">Category in action</td>
    </tr>
</table>
</body>
</html>