<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Orders</title>
</head>
<body>
<h1>All orders</h1>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
    </tr>
    <tr th:each="order : ${orders}">
        <td th:text="${order.id}">123</td>
        <td th:text="${order.name}">Beer in action</td>

    </tr>
</table>
</body>
</html>